html, #root {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Comfortaa', cursive;
}

body::after {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.main-app {
    display: flex;
    height: calc(100% - 40px);
}

.current-list {
    width: 50%;
    min-width: 400px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}

.half-size {
    width: 50%;
}

.full-size {
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .main-app {
        display: block;
        height: auto;
    }

    .current-list {
        height: auto;
    }

    .half-size {
        width: 100%;
    }
}