/* TODO: MAKE THINGS MORE AUTO-RESPONSIVE */
.top-menu {
    height: 40px;
    text-align: left;
}

.top-menu .header {
    display: inline-block;
    margin: 0;
    padding: 10px;
    font-size: 15px;
}

.top-menu .logo {
    font-weight: 900;
    font-variant: small-caps;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.top-menu .logo:hover {
    text-decoration: none;
}

.top-menu a {
    color: white;
    cursor: pointer;
}

.right-menu {
    float: right;
}

.menu-link {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    transition: 0.2s ease all;
    height: 40px;
}

.menu-link:hover {
    text-decoration: none;
}

.theme-submenu {
    display: inline-block;
    position: relative;
    height: 40px;
    width: auto;
}

.themes-label {
    cursor: pointer;
}

.theme-submenu:hover .themes {
    display: block;
    opacity: 1;
    pointer-events: auto;
    z-index: 99999999;
}

.themes {
    z-index: 99999999;
    position: absolute;
    width: 100%;
    top: 30px;
    right: 0;
    padding: 10px 5px 0 5px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease all;
}

.theme-box {
    position: relative;
    left: 0;
    color: white;
    cursor: pointer;
    text-transform: capitalize;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 5px 0;
    padding: 4px;
    transition: 0.2s ease all;
}

.theme-box:hover {
    left: -10px;
}

.theme-box.selected {
    border-color: white;
    color: black;
}

.theme-box.blue:hover {
    background-color: rgb(0, 159, 232);
}

.theme-box.green:hover {
    background-color: rgb(70, 186, 0);
}

.theme-box.purple:hover {
    background-color: rgb(203, 141, 207);
}

.theme-box.yellow:hover {
    background-color: rgb(255, 223, 8);
    color: black;
}
